.env
.gitignore
/node_modules
/public/hot
/public/storage
/public/files
/storage/*.key
/vendor
/backups
/deploy
.phpunit.result.cache
commits.txt
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
sftp-config.json