h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

p {
}
small {
    font-size: 0.86em;
}

.display-1,
.display-2,
.display-3,
.display-4 {
    font-weight: 700;
}

.display-1 {
    font-size: 5em;
}
.display-2 {
    font-size: 4.5em;
}
.display-3 {
    font-size: 4em;
}
.display-4 {
    font-size: 3.5em;
}
